*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin-bottom: 0;
}

img{
  max-width: 100%;
  height: auto;
}

header{
  height: 100%;
  width: 100%;
  background-image: url(img/cover1920cut.png);
  background-size: cover;
  /* overflow: hidden; */
}

.navbar-toggler {
  color: rgb(255, 255, 255);
  margin-right: 20px;
}
  
.logo-wrap{
  padding: 20px 20px 0px 20px;
  margin-left: 40px;
}

.logo-wrap p{
  padding-top: 10px;
  padding-bottom: -10px;
}

.logo-text{
  color: rgb(44, 133, 54);
  font-size: 16px;
}

.navbar-brand{
  padding-left: 30px;
}

.logo-img{
height: 60px;
width: 60px;
}

@media (max-width:1600px){
  header{
    background-image: url(img/cover1300.png);
    background-size: cover;
  }
}

@media (max-width:1300px){
  header{
    background-image: url(img/cover1300.png);
    background-size: cover;
  }
}

@media (max-width:1050px){
  header{
    background-image: url(img/cover1050.png);
    background-size: cover;
  }

  .logo-wrap{
    margin-left: 0px;
    margin-right: 0px;
  }

  .logo-img{
    height: 50px;
    width: 50px;
    }

    .logo-text{
      font-size: 14px;
    }

    .navbar-expand-lg .navbar-nav .nav-link{
      padding-right: 15px;
      padding-left: 0;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      padding-left: 0;
      padding-right: 0;
    }
}

@media (max-width: 992px){
  .logo-img{
    height: 60px;
    width: 60px;
    }

  .logo-text{
    font-size: 18px;
  }

  .navbar-brand{
    padding-left: 15px;
  }

  .logo-wrap{
    margin-left: 20px;
  }
}

@media (max-width: 767px){
  .logo-img{
    height: 40px;
    width: 40px;
    }

    .logo-text{
      font-size: 14px;
    }

    .navbar-brand{
      padding-left: 10px;
    }

    .logo-wrap{
      margin-left: 0px;
      
    }
}

.nav-link{
  color: black;
  font-weight: bold;
  margin: 0px 5px 0px 5px;
  text-align: center;
}

.navbar-nav>a:hover{
  color: rgb(44, 133, 54);
}

.navbar-collapse{
  justify-content: right;
  margin-right: 40px;
  padding-bottom: 20px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (max-width: 1240px){
  .nav-link{
    margin: 0px 0px;
  }
  .navbar-collapse{
    margin-right: 0px;
  }
}

.slogan-block{
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.slogan-img{
  height: auto;
  width: auto;
  background: transparent;
}

.slogan-img>img{
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.slogan-text{
  color: rgb(74, 74, 77);
  font-weight: bold;
  margin: 10px 150px 0 220px;
  padding: 50px 50px 0px 50px;
}

.slogan{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 70px;
  margin-top: 60px;
}

.slogan-about{
  padding-top: 30px;
  font-size: large;
  padding-bottom: 40px;
}

.slogan-button{
  margin-top: 50px;
  margin-bottom: 140px;
}

.slogan-button>a{
  text-decoration: none;
  background-color: rgb(245, 249, 250);
  border: 2px solid rgb(44, 133, 54);
  color: rgb(44, 133, 54);
  padding: 10px 10px 10px 10px;
  font-size: small;
  font-weight: bold;
}

.slogan-button>a:hover{
  color: white; 
  background-color: rgb(44, 133, 54);
}

@media (max-width: 1700px){
  .slogan-text{
    margin: 10px 50px 0 200px;
  }
}

@media (max-width: 1500px){
  .slogan-text{
    margin: 10px 0px 0 200px;
  }
}

@media (max-width: 1400px){
  .slogan-text{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0 200px;
  }
}

@media (max-width: 1300px){
  .slogan-text{
    padding: 0px 50px 0px 0px;
    margin: 30px 150px 0 170px;
  }
  .slogan-block{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
  }
  .slogan{
    font-size: 50px;
  }
}

@media (max-width: 1050px){
  .slogan-block{
    display: block;
  }
  .slogan-text{
    margin: 30px 250px 0px 150px;
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 992px){
  .slogan{
    margin-top: 0px;
    font-size: 50px;
    line-height: normal;
  }
  .slogan-text{
    margin: 30px 80px 0px 80px;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 20px 20px 0px 20px;
  }
  .slogan-block{
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }
}

@media (max-width: 767px){
  .slogan-block{
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }
  .slogan{
    margin-top: 0px;
    font-size: 30px;
    line-height: normal;
  }
  .slogan-text{
    margin: 20px 15px 0px 15px;
    padding: 20px 5px 0px 5px;
  }
  .slogan-button{
    margin-top: 40px;
    margin-bottom: 60px;
  }
    .slogan-about{
    padding-top: 20px;
  }
}

.about-wrap{
  background-image: url(img/dotsFon.png);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  width: auto;
  padding-left: 30px;
}

.about-img-over{
  height: 100%;
  width: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
}

.about-img img{
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.about-text{
  margin: 0px 40px 0px 40px;
  padding-bottom: 50px;
  padding-top: 100px;
  padding-left: 200px;
}

.about-header{
  font-family:'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 15px;
  line-height: 65px;
  color: rgb(74, 74, 77);
}

.dot{
  color: rgb(44, 133, 54);
}

.about-h2{
  color: rgb(74, 74, 77);
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about-discription{
  color: rgb(125, 125, 125);
  font-size: 16px;
  padding-bottom: 30px;
}

.about-buttoms{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.about-button1 a{
  background-color: white;
  color: rgb(44, 133, 54);
  border: 2px solid rgb(44, 133, 54);
  padding: 10px 5px 10px 5px;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.about-button2 a{
  background-color: rgb(44, 133, 54);
  color: white;
  border: 2px solid rgb(44, 133, 54);
  padding: 10px 13px 10px 13px;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.about-button1 a:hover{
  background-color: rgb(44, 133, 54);
  color: white;
}

.about-button2 a:hover{
  border: 2px solid rgb(44, 133, 54);
  color: rgb(44, 133, 54);
  background-color: white;
}

@media (max-width: 1600px){
  .about-img-over{
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 40px;
    margin-right: 20px;
  }
  .about-text{
    padding-left: 160px;
  }
}

@media (max-width: 1400px){
  .about-img-over{
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 40px;
    margin-right: 20px;
  }
  .about-text{
    padding-left: 100px;
  }
}

@media (max-width: 1050px){
  .about-wrap{
    background-image: url(img/dotsFonCut.png);
    padding-left: 0px;
  }
  .about-header{
    font-size: 40px;
    line-height: normal;
  }
  .about-text{
    margin: 0px 0px 0px 20px;
    padding-bottom: 50px;
    padding-top: 80px;
    padding-left: 20px;
    text-align: justify;
  }
  .about-header{
    font-size: 40px;
    line-height: normal;
    text-align: left;
  }
  .about-img-over{
    padding-top: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
  }
}

@media (max-width: 767px){
  .about-wrap{
    background-image: none;
    padding-left: 0px;
    grid-template-columns: none;
    grid-template-rows: 1fr 0.5fr;
  }
  .about-header{
    font-size: 26px;
    line-height: normal;
  }
  .about-text{
    margin: 0px 20px 0px 20px;
    padding-bottom: 50px;
    padding-top: 30px;
    padding-left: 0px;
  }
  .about-img-over{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    height: 100%;
    text-align: center;
    overflow: hidden;
    margin-right: 0px;
  }
  .about-img img{
    height: 80%;
    max-width: 100%;
    object-fit: cover;
  }
  .about-h2{
    font-size: 18px;
  }
}

.why-header{
  font-family:'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(74, 74, 77);
  text-align: center;
  padding: 50px 30px 10px 30px;
}

.why-description{
  font-family:'Roboto', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: rgb(74, 74, 77);
  text-align: center;
  padding: 15px 30px 15px 30px;
}

.why-line{
  text-align: center;
}

.why-us{
  height: auto;
  width: auto;
  background-image: url(img/abstractFon.jpg);
  background-attachment: fixed;
  padding: 0px 200px 0px 200px;
}

.why-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.why-card{
  height: auto;
  width: auto;
  background-color: white;
  margin: 20px 40px 100px 40px;
  padding: 30px 30px 30px 30px;
}

.margin-left{
  margin-left: 80px;
}

.margin-right{
  margin-right: 80px;
}

.why-card img{
  height: 90px;
  width: 70px;
  padding-bottom: 20px;
}

.card-header{
  font-family:'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
  color: rgb(74, 74, 77);
}

.card-description{
  font-size: 18px;
  color: rgb(125, 125, 125);
}

.list-inside-card span{
  font-size: 16px;
  color: rgb(125, 125, 125);
}

.list-inside-card li{
  color: rgb(140, 117, 104);
  padding-bottom: 10px;
}

@media (max-width: 1700px){
  .why-us{
    padding: 0px 100px 0px 100px;
  }
    .margin-left{
    margin-left: 0px;
  }
    .margin-right{
    margin-right: 0px;
  }
  .why-card{
    margin: 20px 40px 100px 40px;
  }
}

@media (max-width: 1400px){
  .why-us{
    padding: 0px 100px 0px 100px;
  }
  .margin-left{
    margin-left: 0px;
  }
  .margin-right{
    margin-right: 0px;
  }
  .why-card{
    margin: 20px 30px 100px 30px;
  }
}

@media (max-width: 1300px){
  .why-us{
    padding: 0px 50px 0px 50px;
  }
}

@media (max-width: 1050px){
  .why-us{
    padding: 0px 50px 0px 50px;
  }
  .why-cards{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
  }
  .margin-left{
    margin-left: 40px;
  }
  .margin-right{
    margin-right: 40px;
  }
  .why-card{
    margin: 0px 100px 80px 100px;
  }
  .why-header{
    font-size: 40px;
  }
  .why-description{
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px){
  .why-us{
    padding: 0px 10px 0px 10px;
  }
  .why-cards{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
  }
  .margin-left{
    margin-left: 0px;
  }
  .margin-right{
    margin-right: 0px;
  }
  .why-card{
    margin: 0px 5px 50px 5px;
    padding: 20px 15px 20px 15px;
  }
  .why-header{
    font-size: 30px;
    padding: 50px 10px 10px 10px;
  }
  .why-description{
    font-size: 18px;
    padding: 15px 10px 15px 10px;
  }
}

.documents-wrap{
  margin: 0px 280px 50px 280px;
}

.accordion{
  margin-top: 20px;
  --bs-accordion-btn-focus-border-color: rgb(44, 133, 54); 
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(44, 133, 54, 0.25);
}

.accordion-body-text{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.document-img{
  margin: 0 auto;
}

.document-description{
  padding-top: 10px;
  color: rgb(74, 74, 77);
}

.document-mark{
  color: rgb(44, 133, 54);
  font-size: 20px;
}

.list-inside-document li{
  color: rgb(44, 133, 54);
}

.list-inside-document span{
  color: rgb(74, 74, 77);
}

.accordion-button:not(.collapsed){
  background-color: white;
  border: 2px solid rgb(44, 133, 54);
  color: rgb(44, 133, 54);
  font-weight: bold;
}

.accordion-button{
  font-weight: bold;
}

.document-header, .contacts-header{
  font-family:'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(74, 74, 77);
  text-align: center;
  padding-top: 50px;
  padding: 50px 30px 10px 30px;
}

.document-button>a{
  text-decoration: none;
  background-color: white;
  border: 2px solid rgb(44, 133, 54);
  color: rgb(44, 133, 54);
  padding: 10px 10px 10px 10px;
  font-size: small;
  font-weight: bold;
}

.document-button a:hover{
  background-color: rgb(44, 133, 54);
  color: white;
}

@media (max-width: 1500px){
  .documents-wrap{
    margin: 0px 100px 50px 100px;
  }
}

@media (max-width: 1300px){
  .documents-wrap{
    margin: 0px 100px 50px 100px;
  }
}
@media (max-width: 1224px){
  .documents-wrap{
    margin: 0px 70px 0px 70px;
  }
}

@media (max-width: 992px){
  .documents-wrap{
    margin: 0px 30px 50px 30px;
  }
  .document-header{
    font-size: 40px;
  }
  .document-description{
    margin-left: 10px;
  }
  .document-button{
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px){
  .documents-wrap{
    margin: 0px 0px 50px 0px;
  }
  .document-header{
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .document-description{
    margin-left: 0px;
  }
  .document-button{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .accordion-body-text{
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }
  .accordion{
    margin-left: 10px;
    margin-right: 10px;
  }
}

.how-work{
  height: auto;
  width: auto;
  background-image: url(img/abstractFon.jpg);
  background-attachment: fixed;
}

.how-work-wrap{
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  margin: 0px 280px 0px 280px;
}

.how-work-text{
  padding: 50px 50px 20px 50px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.how-work-img{
  height: auto;
  width: auto;
  margin: 30px 0px 30px 0px;
}

.how-work-img img{
  height: 100%;
  width: auto;
  object-fit: cover;
  box-shadow: 1px 1px 1px 1px rgb(74, 74, 77);
}

.how-work-step{
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  width: auto;
  height: auto;
  justify-items: start;
}

.steps{
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  margin-top: 30px;
}

.step-icon-wrap{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: rgb(44, 133, 54);
  border-radius: 50%;
  text-align: center;
}

.step-icon-wrap img{
  padding: 10px 10px 10px 10px;
}

.icon-one img{
  padding: 10px 5px 10px 15px;
}

.how-work-header{
  font-family:'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 15px;
  line-height: 65px;
  color: rgb(74, 74, 77);
}

.how-work-header-description{
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: justify;
}

.step-text-header{
  font-size: 25px;
  font-weight: bold;
}

.step-text-description{
  font-size: 16px;
  color: rgb(125, 125, 125);
  font-weight: bold;
  text-align: justify;
}

@media (max-width: 1500px){
  .how-work-wrap{
    margin: 0px 100px 0px 100px;
  }
}

@media (max-width: 1300px){
  .how-work-wrap{
    margin: 0px 100px 0px 100px;
  }
  .how-work-text{
    padding: 50px 40px 20px 40px;
  }
}

@media (max-width: 1224px){
  .how-work-wrap{
    margin: 0px 70px 0px 70px;
  }
  .how-work-img{
    margin: 30px 0px 30px 0px;
  }
}

@media (max-width: 1050px){
  .how-work-wrap{
    margin: 0px 50px 0px 50px;
  }
  .how-work-header{
    font-size: 40px;
    line-height: normal;
  }
  .step-text-header{
    font-size: 26px;
  }
  .how-work-text{
    padding: 50px 30px 20px 30px;
  }
}

@media (max-width: 992px){
  .how-work-wrap{
    margin: 0px 30px 0px 30px;
  }
}

@media (max-width: 767px){
  .how-work-wrap{
    margin: 0px 10px 0px 10px;
    grid-template-columns: none;
  }
  .how-work-header{
    font-size: 30px;
    line-height: normal;
    text-align: center;
    padding-bottom: 10px;
  }
  .step-text-header{
    font-size: 20px;
    line-height: normal;
  }
  .how-work-text{
    padding: 30px 10px 20px 10px;
  }
  .how-work-img{
    display: none;
  }
  .step-icon-wrap{
    
    width: 30px;
    height: 30px;
    
  }
  .step-icon-wrap img{
    padding: 5px 5px 5px 5px;
    
  }
  
  .icon-one img{
    padding: 5px 2px 5px 5px;
  }
  .steps{
    display: flex;
    grid-template-rows: none;
    /* row-gap: 20px; */
    flex-direction: column;
  }
  .how-work-step{
    margin-bottom: 10px;
  }
  .how-work-line{
    text-align: center;
  }
  .how-work-header-description, .step-text-description{
    text-align: left;
  }
}

.cost-wrap{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: auto;
  width: auto;
  
  background-image: url(img/back2.png);
  background-size: cover;
}

.cost-form-wrap{
  background-color: rgb(255, 255, 255, 0.6);
  margin-top: 20px;
  margin-bottom: 40px;
}

.cost-form-header{
  color: rgb(74, 74, 77);
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  line-height: 50px;
  padding-bottom: 10px;
}

.cost-form-description{
  color: rgb(74, 74, 77);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
}

.cost-form-empty{
  height: auto;
  width: auto;
}

.cost-form_field input{
  background-color: rgba(255, 255, 255, 0.99);
  color: rgb(74, 74, 77);
  padding: 15px 26px 15px 26px;
  margin-bottom: 15px;
  width: 80%;
}

form{
  display: block;
  text-align: center;
}

.cost-form_field textarea{
  background-color: rgba(255, 255, 255, 0.99);
  color: rgb(74, 74, 77);
  padding: 15px 26px 30px 26px;
  margin-bottom: 30px;
  width: 80%;
  border: inset 2px rgb(118, 118, 118);
}

.cost-button{
  color: white;
  font-weight: bold;
  background-color: rgb(44, 133, 54);
  padding: 15px 26px 15px 26px;
  width: 80%;
  border: 0px;
  margin-bottom: 40px;
}

.cost-button:hover{
  color: rgb(44, 133, 54);
  background-color: white;
  border: 2px solid rgb(44, 133, 54);
}

@media (max-width: 1050px){
  .cost-form-header{
    font-size: 35px;
    line-height: normal;
  }
  .cost-form-wrap{
    margin: 20px 10px 40px 10px;
    
  }
  .cost-wrap{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }
  
}

@media (max-width: 767px){
  .cost-form-header{
    font-size: 25px;
    line-height: normal;
    padding-bottom: 10px;
    margin-top: 30px;
  }
  .cost-form-empty{
    display: none;
  }
  .cost-wrap{
    grid-template-columns: none;
  }
  .cost-form-wrap{
    margin: 20px 10px 40px 10px;
    
  }
}

.contacts-wrap{
  background-image: url(img/mapukr.png);
  background-attachment: fixed;
  height: auto;
  width: auto;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
}

.contacts-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact-block{
  background-color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
  margin: 0px 30px 0px 30px;
}

.contacts-description{
  color: rgb(74, 74, 77);
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.contacts-phone, .contacts-mail{
  font-size: 18px;
  font-weight: bold;
  color: rgb(125, 125, 125);
}

.contacts-phone a{
  color: rgb(125, 125, 125);
  text-decoration: none;
}

.contacts-mail a{
  color: rgb(125, 125, 125);
  text-decoration: none;
}

.contact-icons{
  margin-top: 20px;
}

@media (max-width: 1300px){
  .contact-block{
    margin: 0px 0px;
    padding: 50px 60px 80px 60px;
  }
}

@media (max-width: 992px){
  .contact-block{
    margin: 0px 0px;
    padding: 50px 60px 80px 60px;
  }
}

@media (max-width: 767px){
  .contacts-header{
    font-size: 40px;
    padding-bottom: 10px;
  }
  .contacts-description{
    font-size: 25px;
    margin-top: 10px;
  }
  .contact-block{
    margin: 0px 0px;
    padding: 30px 20px 60px 20px;
  }
  .contacts-wrap{
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: scroll;
  }
}

.footer-wrap{
  background-color: #dce5ee;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 100px 00px 100px;
}

.footer-img-box{
  width: 50%;
  height: auto;
  text-align: center;
  padding-top: 20px;
}

.footer-img{
  height: 60px;
  width: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer-logo-text{
  color: rgb(44, 133, 54);
  font-weight: bold;
}

.footer-list{
  padding-top: 20px;
  color: white;
}

.footer-list li{
  list-style-type: square;
  padding: 10px 10px 10px 10px;
  color: rgb(44, 133, 54);
}

.footer-list li:hover{
  color: rgb(44, 133, 54);
}

ul{
  margin-bottom: 0;
}

@media (max-width: 1050px){
  .footer-wrap{
    padding: 0px 30px;
  }
  .footer-list li{
    padding: 5px 5px 5px 5px;
  }
  .footer-list{
    padding-top: 30px;
  }
  .footer-img{
    height: 50px;
    width: 50px;
    
  }
  .footer-logo-text{
    font-size: 14px;
  }
}

@media (max-width: 767px){
  .footer-list{
    display: none;
  }
  .footer-wrap{
    padding: 0px 5px;
    grid-template-columns: none;
  }
  .footer-logo{
    margin: 0 auto;
    text-align: center;
  }
  .footer-img{
    margin-left: 50px;
  }
}

@media (max-width: 1050px){
  .btn-up {
    position: fixed;
    background-color: transparent;
    right: 10px;
    bottom: 10px;
    border-radius: 22px;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  .btn-up::before {
    content: "";
    color: rgb(44, 133, 54);
    text-align: center;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 12px;
    top: 12px;
    background: transparent no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20 '%3E%3Cg fill='rgb(44, 133, 54)' stroke='rgb(44, 133, 54)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
  }
}

